* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

:root {
    --color-page: #252323;
    background-color: #252323;
}

#root {
    font-family: "Inter";
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.all {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
}

.inputPrompt {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.inputPrompt input {
    background: #d9d9d9;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #EEE1B3;
    border: 0;
    padding: 0 20px;
    outline: none;
}

.inputPrompt button {
    border: 0;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 700;
    color: #d9d9d9;
    background: #EEE1B3;
    cursor: pointer;
    transition: all ease 0.3s;
}

.inputPrompt button:hover {
    opacity: 0.9;
}

.textContainer {
    border-radius: 10px;
    padding: 1em;
    display: block;
    overflow-x: auto;
    background: rgb(40, 42, 54);
    color: rgb(248, 248, 242);
}

.normalText {
    font-weight: 600;
    font-size: 15px;
}

.navBarContainer {
    margin-top: 20px;
    width: 650px;
    height: fit-content;
/* From https://css.glass */
    background: rgba(238, 225, 179, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border-radius: 50px;
    padding: 10px 40px;
    position: fixed;
    z-index: 1;
}

.contentNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EEE1B3;
}

.contentNav .left h1 {
    font-size: 35px;
    font-weight: 800;
}

.contentNav .left h1 a {
    text-decoration: none;
    color: #EEE1B3;
}

.contentNav .right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.right a {
    text-decoration: none;
    color: #EEE1B3;
}

.containerHeader {
    display: flex;
    height: 100vh;
    align-items: center;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-clip: padding-box;
    padding-bottom: 200px; */
}

.descriptionPage {
    display: flex;
    align-items: center;
    height: fit-content;
}

.textDescription {
    width: 600px;
    color: #EEE1B3;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.textDescription h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
}

.textDescription p {
    margin-top: 14px;
    font-size: 30;
    font-size: 19px;
    font-weight: 500;
}

.textDescription h1 span {
    font-family: "Calistoga";
    color: #DB3A34;
    font-size: 80px;
    position: absolute;
    top: 35px;
    transform: rotate(-10deg);
}

.containerRedirectButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttonGo, .buttonLogin{
    outline: 0;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 800;
    background-color: #177E89 ;
    color: #EEE1B3;
    font-size: 22px;
    margin-top: 10px;
    transition: 0.1s all ease-in;
    cursor: pointer;
}

.buttonGo:hover {
    background-color: #40686D;
}

.buttonLogin:hover {
    background: rgba(255, 234, 157, 0.842);
}

.buttonLogin {
    display: flex;
    align-items: center;
    color: #177E89;
    background-color: #EEE1B3;
    gap: 5px;
}

.buttonLogin span {
    display: flex;
    align-items: center;
}

.buttonLogin img {
    width: 20px;
}

.containerLanding {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--color-page), var(--color-page) 0%, rgba(22, 22, 22, 0) 50%, var(--color-page)), url(./assets//grid.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-clip: padding-box;
    padding-bottom: 200px;
}

.footerContainer {
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    padding: 10px;
}

.socialMedia {
    display: flex;
    align-items: center;
}

.leftSide {
    color: #EEE1B3;
    font-weight: 600;
}

.rightSide {
    display: flex;
    gap: 5px;
}

.socialMedia img {
    width: 25px;
}